.food-buttons {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    justify-content: flex-end;
}
@media (max-width: 57rem) {
    .food-buttons {
        justify-content: center;
    }
}

@media (max-width: 31rem) {
    .food-buttons {
        flex-direction: column;
        align-items: center;
    }
}