@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: 'Albert Sans', sans-serif;
  background-color: #ebf7ed;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  padding: 0 2rem 2rem;
}