$color-primary: #37b24d;
$color-primary-dark: #16471f;

$color-secondary: #A5560E;

$color-grey-light-1: #d7f0db;
$color-grey-light-2: #ebf7ed;

$color-grey-dark-1: #474d47;
$color-grey-dark-2: #3a3f3a;